name: verbulo
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  bottom_picker: ^4.1.1
  bounce: ^1.0.2
  cached_network_image: ^3.4.1
  country_code_picker: ^3.4.0
  cupertino_icons: ^1.0.8
  dropdown_button2: ^2.3.9
  google_nav_bar: ^5.0.7
  flutter:
    sdk: flutter
  flutter_animate: ^4.5.2
  flutter_carousel_widget: ^3.1.0
  flutter_custom_clippers: ^2.1.0
  flutter_svg: ^2.2.0
  get: ^4.7.2
  input_quantity: ^2.5.1
  percent_indicator: ^4.2.5
  pinput: ^5.0.1
  shared_preferences: ^2.5.3
  smooth_page_indicator: ^1.2.1
  table_calendar: ^3.2.0
  intl: ^0.20.2
  alphabetical_scroll: ^0.0.2
  alphabet_scroll_view: ^0.3.2
  google_fonts: ^6.3.2
  syncfusion_flutter_charts: ^31.2.5

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
  fonts:
    - family: Manrope
      fonts:
        - asset: assets/fonts/Manrope-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Manrope-Light.ttf
          weight: 300
        - asset: assets/fonts/Manrope-Regular.ttf
          weight: 400
        - asset: assets/fonts/Manrope-Medium.ttf
          weight: 500
        - asset: assets/fonts/Manrope-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Manrope-Bold.ttf
          weight: 700
        - asset: assets/fonts/Manrope-ExtraBold.ttf
          weight: 800

flutter_assets:
  assets_path: assets/
  output_path: lib/generated/
  filename: assets.dart
  field_prefix: null
